.header {
    position: absolute;
    top:0;
    z-index: 99
}
.header-intro {
    z-index: 102;
    position: absolute;
    background-color: transparent;
    top: 60vh;
    left: 10vw;
    font-size: 30px;
}

.header-intro p {
    background-color: transparent;
}

.section {
    position: relative;
    z-index: 101;
    margin-top: 65px;
    margin-bottom: 80px;
}

.img-hover-zoom {
    height: 300px;
    overflow: hidden;
    background-color:rgb(31, 31, 31) !important;
  }

.img-hover-zoom img {
    transition: transform .5s ease;
}

.img-hover-zoom:hover{
    cursor: pointer;
}
.img-hover-zoom:hover img {
    transform: scale(1.5);
    opacity: 0.4;
}
.img-hover-zoom div {
    visibility: hidden;
}
.img-hover-zoom:hover div {
    visibility: visible;
    font-size: 30px;
}