* {
    font-family: 'Noto Serif KR', serif;
    color: #F5F5F1;
    background-color: #221F1F;
}

html {
   background-color: #221F1F;
}

.logo-btn {
    background-color: transparent;
    font-weight: bold;
    font-size: 30px;
}

.logo-btn:hover {
    cursor: pointer;
    color: #45B5AA;
}

.navigation {
    z-index: 100;
    position: relative;
    background-color: transparent;
}

.nav-list {
    background-color: transparent !important;
}

.nav-item {
    background-color: transparent !important;
}

.nav-a {
    color: #F5F5F1;
    background-color: transparent;
}

.nav-a:hover {
    color: #45B5AA;
    font-weight: bold;
}
