* {
    font-family: 'Noto Serif KR', serif;
    color: #F5F5F1;
    background-color: #221F1F;
}

html {
   background-color: #221F1F;
}

.logo-btn {
    cursor: pointer;
}

.logo-btn:hover {
    color: aquamarine;
}

.nav-a {
    color: #F5F5F1;
}

.nav-a:hover {
    color: aquamarine;
}