* {
    font-family: 'Noto Serif KR', serif;
    color: #F5F5F1;
    background-color: #221F1F;
}

html {
   background-color: #221F1F;
}

.turquoise {
    color: #45B5AA;
}

.logo-btn {
    background-color: transparent;
    font-weight: bold;
    font-size: 30px;
}

.logo-btn:hover {
    cursor: pointer;
    color: #45B5AA;
}

.navigation {
    z-index: 100;
    position: relative;
    background-color: transparent;
}

.nav-list {
    background-color: transparent !important;
}

.nav-item {
    background-color: transparent !important;
}

.nav-a {
    color: #F5F5F1;
    background-color: transparent;
}

.nav-a:hover {
    color: #45B5AA;
    font-weight: bold;
}

.footer {
    border-top: 1px solid;
    border-color: rgba(256,256,256,0.25);
}

.footer-inner {
    padding-top: 50px;
    padding-bottom: 40px;
}

.footer-inner > p > a {
    color: #45B5AA !important;
}

.modal-open .modal {
    background-color: rgba(0, 0, 0, 0.25);
}

.modal-dialog {
    background-color: transparent;
}

.modal-content {
    background-color: transparent;
}

.modal-footer {
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
}

.btn-main-color {
    color: #45B5AA;
    background-color: transparent;
    background-image: none;
    border-color: #45B5AA;
}

.btn-main-color:hover {
    background-color: #45B5AA;
    color: #221F1F;
}

.form-control {
    background-color: #221F1F;
    color: #F5F5F1;
}

.form-control:focus {
    background-color: #221F1F;
    color: #F5F5F1;
}

.divider-img {
    height: auto;
    width: 250px;
}