.header-img {
    position: relative;
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../image/recommend-header.jpg');
    background-size: cover;
}

.header-img::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.45);
}

.header-img > h2 {
  position: relative;
  color: #ffffff;
  font-size: 3rem;
  line-height: 0.9;
  text-align: center;
  background-color: transparent !important;
}

#search-box {
    width: 50% !important;
    margin-top: 40px;

}