{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="../static/css/home.css">
{% endblock %}
{% block content %}
<div>
  <div class="header">
    <div class="header-intro">
      <p class="animate__animated animate__fadeInLeft">공연 예술(公演藝術, performing art)</p>
      <p style="font-size: 1.2rem;">표현자와 관객이 같은 시간과 공간을 공유하면서</p>
      <p style="font-size: 1.2rem;">그 자리에서 작품의 실체가 만들어져 가는 형태의 예술.</p>
      <button type="button" class="btn btn-outline-light">공연 보러가기</button>
    </div>
    <video
            loop
            autoplay
            playsinline
            muted
            preload="none"
            style="width: 100%;"
            src="../static/video/main_v2.mp4"></video>
    <div class="section container">
      <h4>At the moment</h4>
      <div class="mt-5">

      </div>
      <div class="mt-5">
        <div id="gallery-1" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                {% for performance in performances[0:5] %}
                <div class="col text-center img-hover-zoom">
                  <img class="img-fluid" style="height: 270px;"
                       src="{{ performance.poster }}" alt="Image Poster"/>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                {% for performance in performances[5:] %}
                <div class="col text-center img-hover-zoom">
                  <img class="img-fluid" style="height: 270px;"
                       src="{{ performance.poster }}" alt="Image Poster"/>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" style="width: 20px;" href="#gallery-1" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" style="width: 20px;" href="#gallery-1" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}
